@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    margin: .5em;
}

@mixin container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 1em 0 1em 0;
}

#intro {
    @include container;

    .greeting {
        flex-basis: 60%;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h1 {
            font-size: 2em;
        }
    
        h2 {
            margin-top: .6em;
            font-size: 1.8em;
            font-weight: 300;
        }
    }

    .about-me {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        
        p {
            margin: 1em 0em 1em 0em;
            font-size: .8em;
        }

        p:first-of-type {
            margin-top: 3em;
        }
    }  
}

#skills {
    @include container;

    .learning {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;

        p {
            margin: 1em 0em 1em 0em;
            font-size: .8em;
        }
    }

    .skills-list {
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 1px solid red;
        
            h3 {
                border: 1px solid red;
                margin-left: -.3em;
            }
        
            ul {
                border: 1px solid red;
                list-style: none;
            }
    }

}

.portfolio {
    @include container;

    .info  {
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        flex-direction: column;
    }
}

#contact {
    @include container;
    
    .reach-out {
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .fun {
        display: flex;
        flex-direction: column;
        height: 65vh;
        
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}


//////// Flipcard component ////////

.flipcard-container {
    border: 1px solid red;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card {
        height: 90%;
        width: 90%;
        position: relative;
        transition: 1s;
        transform-style: preserve-3d;
        
        .front, .back {
            height: 100%;
            width: 100%;
            border-radius: 1em;
            position: absolute;
            backface-visibility: hidden;
        }
        
        .front {
            background-position: center;
            background-size: cover;
        }
        
        .back {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: lightgrey;
            transform: rotateY(180deg) rotateZ(720deg);
        }
    }
}

.flipcard-container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(720deg);
}

//////// Contact Form Component ////////

form {
    width: 50%;
    display: flex;
    flex-direction: column;
}
