@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,700&display=swap');

@mixin container {
    margin-top: 2em;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    margin: .5em;
    background-color: red;
}

#intro {
    @include container
}

#about {
    @include container;

    p {
        margin: 2em 0em 2em 0em;
    }
}

#projects {
    @include container;
}

#skills {
    @include container;
    display: flex;
    justify-content: space-around;

    h3 {
        margin-left: -.8em;
    }
}

#contact {
    @include container
}